global:
  podAnnotations:
    reloader.stakater.com/auto: "true"
  env:
    - name: AUTHENTIK_POSTGRESQL__HOST
      valueFrom:
        secretKeyRef:
          name: authentik-postgres-app
          key: host
    - name: AUTHENTIK_POSTGRESQL__NAME
      valueFrom:
        secretKeyRef:
          name: authentik-postgres-app
          key: dbname
    - name: AUTHENTIK_POSTGRESQL__USER
      valueFrom:
        secretKeyRef:
          name: authentik-postgres-app
          key: user
    - name: AUTHENTIK_POSTGRESQL__PASSWORD
      valueFrom:
        secretKeyRef:
          name: authentik-postgres-app
          key: password
    - name: AUTHENTIK_SECRET_KEY
      valueFrom:
        secretKeyRef:
          name: authentik-secret
          key: secret-key
authentik:
  log_level: info
  postgresql:
    port: 5432
    name: ""
    user: ""
    password: ""
  email:
    host: smtp-relay.default.svc.cluster.local
    use_tls: false
    port: 25
    from: "Authentik <noreply@darkflame.dev>"
postgresql:
  enabled: false
prometheus:
  rules:
    enabled: true
server:
  replicas: 1
  route:
    main:
      enabled: true
      hostnames: ["auth.darkflame.dev"]
      parentRefs:
        - group: gateway.networking.k8s.io
          kind: Gateway
          name: envoy-external
          namespace: network
          sectionName: https
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
worker:
  replicas: 2
