---
serverName: darkflame.dev

synapse:
  enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 1000Mi
    limits:
      memory: 2500Mi
  podSecurityContext:
    fsGroup: 666
    runAsGroup: 666
    runAsUser: 666
  media:
    storage:
      storageClassName: rook-ceph
      size: 100Gi
  ingress:
    host: matrix.darkflame.dev
    className: disabled
    tlsEnabled: false
  postgres:
    host: matrix-cluster-rw.comms.svc.cluster.local
    port: 5432
    user: app
    database: matrix-synapse
    sslMode: require
    password:
      secret: matrix-cluster-app
      secretKey: password
  additional:
    1-base-config:
      config: |
        public_baseurl: https://matrix.darkflame.dev
        presence:
          enabled: true
        enable_metrics: true
        report_stats: false
        suppress_key_server_warning: true
        trusted_key_servers:
          - server_name: "matrix.org"
        admin_contact: "mailto:admin@darkflame.dev"
        enable_search: true
        url_preview_enabled: true
        url_preview_ip_range_blacklist:
          - '127.0.0.0/8'
          - '10.0.0.0/8'
          - '172.16.0.0/12'
          - '192.168.0.0/16'
          - '100.64.0.0/10'
          - '169.254.0.0/16'
          - '::1/128'
          - 'fe80::/64'
          - 'fc00::/7'
        rc_message:
          per_second: 10
          burst_count: 50
        experimental_features:
          msc3575_enabled: true
          msc4186_enabled: true
        database:
          allow_unsafe_locale: true
    2-email-config:
      config: |
        email:
          smtp_host: smtp-relay.default.svc.cluster.local
          smtp_port: 25
          notif_from: "Matrix <noreply@darkflame.dev>"

matrixAuthenticationService:
  enabled: true
  ingress:
    host: mas.darkflame.dev
    className: disabled
    tlsEnabled: false
  postgres:
    host: matrix-cluster-rw.comms.svc.cluster.local
    port: 5432
    user: app
    database: matrix-auth
    sslMode: require
    password:
      secret: matrix-cluster-app
      secretKey: password
  additional:
    config.yaml:
      config: |
        branding:
          service_name: "Darkflame Matrix Authentication Service"
        passwords:
          enabled: false
          minimum_length: 12
        account:
          email_change_allowed: true
          displayname_change_allowed: true
    oidc.yaml:
      configSecret: oidc-config
      configSecretKey: oidc.yaml

matrixRTC:
  enabled: true
  ingress:
    host: mrtc.darkflame.dev
    className: disabled
    tlsEnabled: false
  sfu:
    useStunToDiscoverPublicIP: false

elementAdmin:
  enabled: true
  ingress:
    host: admin.darkflame.dev
    className: disabled
    tlsEnabled: false

elementWeb:
  enabled: true
  ingress:
    host: chat.darkflame.dev
    className: disabled
    tlsEnabled: false

wellKnownDelegation:
  enabled: true
  ingress:
    className: disabled
    tlsEnabled: false

postgres:
  enabled: false
