---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
controllers:
  excalidraw:
    strategy: RollingUpdate
    containers:
      app:
        image:
          repository: docker.io/excalidraw/excalidraw
          tag: latest@sha256:9a92beb30c9bc18585bfd9adbb5cf7120b756b781363a66333b31cc8a0783e51
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
        resources:
          requests:
            cpu: 5m
            memory: 10Mi
          limits:
            memory: 50Mi
service:
  app:
    ports:
      http:
        port: &port 80
serviceMonitor:
  app:
    endpoints:
      - port: http
route:
  app:
    hostnames: ["draw.darkflame.dev"]
    parentRefs:
      - name: envoy-external
        namespace: network
        sectionName: https
    rules:
      - backendRefs:
          - identifier: app
            port: *port
        matches:
          - path:
              type: PathPrefix
              value: /
