---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
controllers:
  element:
    containers:
      app:
        image:
          repository: vectorim/element-web
          tag: v1.12.7@sha256:e037ff690f6da8d6ad518c7a0c10787bb8be7feca16402a2d90c21300c7affbf
service:
  app:
    ports:
      http:
        port: &port 80
serviceMonitor:
  app:
    endpoints:
      - port: http
route:
  app:
    hostnames:
      - chat.darkflame.dev
    parentRefs:
      - name: envoy-external
        namespace: network
        sectionName: https
    rules:
      - backendRefs:
          - identifier: app
            port: *port
        matches:
          - path:
              type: PathPrefix
              value: /
