image:
  repository: ghcr.io/itzg/mc-router
  tag: 1.40.3@sha256:10881cb6b74ebf8957d309f29952ea677eccd1b474d1e106466c94e8890b0788
  pullPolicy: IfNotPresent
minecraftRouter:
  connectionRateLimit: 10
services:
  minecraft:
    type: LoadBalancer
    annotations:
      lbipam.cilium.io/ips: 10.0.60.16
      external-dns.alpha.kubernetes.io/hostname: mc-router.darkflame.dev
securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  capabilities: { drop: ["ALL"] }
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
