image:
  repository: ghcr.io/itzg/mc-router
  tag: 1.39.1@sha256:be109433f1a67a6d925d93842018ae4d9dcb37f9df5ef3b246925343782233ab
  pullPolicy: IfNotPresent
minecraftRouter:
  connectionRateLimit: 10
services:
  minecraft:
    type: LoadBalancer
    annotations:
      lbipam.cilium.io/ips: 10.0.60.16
      external-dns.alpha.kubernetes.io/hostname: mc-router.darkflame.dev
securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  capabilities: { drop: ["ALL"] }
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
