image:
  repository: ghcr.io/itzg/mc-router
  tag: 1.40.0@sha256:af8d4e00bc915c9814032d200bdf5715bb7c91f30fede4f83c3f8b72b0c1a687
  pullPolicy: IfNotPresent
minecraftRouter:
  connectionRateLimit: 10
services:
  minecraft:
    type: LoadBalancer
    annotations:
      lbipam.cilium.io/ips: 10.0.60.16
      external-dns.alpha.kubernetes.io/hostname: mc-router.darkflame.dev
securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  capabilities: { drop: ["ALL"] }
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
