image:
  repository: ghcr.io/itzg/mc-router
  tag: 1.39.0@sha256:b5e4bb0178d4e200a832b3ab20d99de71040db1c9081d3a8f83c9c47540447b2
  pullPolicy: IfNotPresent
minecraftRouter:
  connectionRateLimit: 10
services:
  minecraft:
    type: LoadBalancer
    annotations:
      lbipam.cilium.io/ips: 10.0.60.16
      external-dns.alpha.kubernetes.io/hostname: mc-router.darkflame.dev
securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  capabilities: { drop: ["ALL"] }
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
