image:
  repository: ghcr.io/itzg/mc-router
  tag: 1.38.2@sha256:ff865253dfce18c2adfdec9a0e1f49dfc79a6da91ddd0134099e06d5c20a0f72
  pullPolicy: IfNotPresent
minecraftRouter:
  connectionRateLimit: 10
services:
  minecraft:
    type: LoadBalancer
    annotations:
      lbipam.cilium.io/ips: 10.0.60.16
      external-dns.alpha.kubernetes.io/hostname: mc-router.darkflame.dev
securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  capabilities: { drop: ["ALL"] }
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
