falcosidekick:
  enabled: true
  config:
    extraEnv:
      - name: DISCORD_WEBHOOKURL
        valueFrom:
          secretKeyRef:
            name: falco-secret
            key: discord-webhook
      - name: DISCORD_MINIMUMPRIORITY
        value: critical
