---
connectivity:
  checker:
    target: 1.1.1.1:53
    interval: 1m

endpoints:
  - name: Cloudflare
    group: connectivity
    url: icmp://1.1.1.1
    interval: 1m
    conditions:
      - "[CONNECTED] == true"

  - name: Google
    group: connectivity
    url: icmp://8.8.8.8
    interval: 1m
    conditions:
      - "[CONNECTED] == true"

  - name: Quad9
    group: connectivity
    url: icmp://9.9.9.9
    interval: 1m
    conditions:
      - "[CONNECTED] == true"

  - name: TrueNAS
    group: internal
    url: icmp://10.0.60.15
    interval: 5m
    conditions:
      - "[CONNECTED] == true"

metrics: true

storage:
  type: postgres
  caching: true
  path: ${POSTGRES_PATH}

ui:
  title: Status | Gatus
  header: Status

web:
  port: ${GATUS_WEB_PORT}
