apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: argocd-server
spec:
  parentRefs:
  - name: envoy-external
    namespace: network
    sectionName: https
  hostnames:
  - argocd.darkflame.dev
  rules:
  - matches:
    - path:
        value: /
        type: PathPrefix
    backendRefs:
    - name: argocd-server
      port: 443