---
controllers:
  smtp-relay:
    replicas: 2
    strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: ghcr.io/foxcpp/maddy
          tag: 0.8.1@sha256:55636d8a29588eea62d81d51acdafe38e0f694fb91801ab12dc1ed8c47b6439d
        env:
          SMTP_RELAY_SMTP_PORT: &port 25
        envFrom:
          - secretRef:
              name: "smtp-relay-secret"
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: {drop: ["ALL"]}
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 64Mi
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
service:
  app:
    type: LoadBalancer
    ports:
      smtp:
        port: *port
configMaps:
  config:
    data:
      maddy.conf: |-
        state_dir /cache/state
        runtime_dir /cache/run
        tls off
        debug true
        hostname {env:SMTP_RELAY_HOSTNAME}
        smtp tcp://0.0.0.0:{env:SMTP_RELAY_SMTP_PORT} {
            debug
            io_debug
            default_source {
                deliver_to &remote_queue
            }
        }
        target.queue remote_queue {
            debug
            target &remote_smtp
        }
        target.smtp remote_smtp {
            debug
            attempt_starttls yes
            require_tls yes
            auth plain {env:SMTP_RELAY_USERNAME} {env:SMTP_RELAY_PASSWORD}
            targets tls://{env:SMTP_RELAY_SERVER}:465
        }
persistence:
  cache:
    type: emptyDir
  config-file:
    type: configMap
    identifier: config
    globalMounts:
      - path: /data/maddy.conf
        subPath: maddy.conf
