global:
  domain: cd.darkflame.dev

redis-ha:
  enabled: true

controller:
  replicas: 1

configs:
  params:
    # It isn't actually insecure as the gateway handles TLS termination
    server.insecure: true
  cm:
    statusbadge.enabled: "true"

server:
  httproute:
    enabled: true
    parentRefs:
      - name: envoy-external
        namespace: network
    hostnames:
      - "cd.darkflame.dev"
    rules:
      - backendRefs:
          - name: argocd-server
            port: 80
        matches:
          - path:
              type: PathPrefix
              value: /

  autoscaling:
    enabled: true
    minReplicas: 2

repoServer:
  autoscaling:
    enabled: true
    minReplicas: 2

applicationSet:
  replicas: 2

notifications:
  enabled: true
  secret:
    create: false
    name: argocd-notifications-secret
  items:
    service.github: |
      appID: $github-appId
      installationID: $github-installationId
      privateKey: $github-privateKey
    templates: |
      github-status: |
        message: |
          repo: Darkflame72/home-ops
          revision: {{.app.status.sync.revision}}
          state: '{{if eq .app.status.operationState.phase "Succeeded"}}success{{else if eq .app.status.operationState.phase "Failed"}}failure{{else}}pending{{end}}'
          targetURL: {{.context.argocdUrl}}/applications/{{.app.metadata.name}}
    triggers: |
      on-sync-succeeded: |
        when: app.status.operationState.phase in ['Succeeded']
        send:
          - github-status
      on-sync-failed: |
        when: app.status.operationState.phase in ['Error', 'Failed']
        send:
          - github-status
      on-sync-running: |
        when: app.status.operationState.phase in ['Running']
        send:
          - github-status
