---
fullnameOverride: alloy
serviceMonitor:
  enabled: true
alloy:
  configMap:
    create: false
    name: alloy-configmap
    key: config.alloy
  extraPorts:
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
      protocol: TCP
    - name: otlp-http
      port: 4318
      targetPort: 4318
      protocol: TCP
controller:
  podAnnotations:
    configmap.reloader.stakater.com/reload: alloy-configmap
