---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
controllers:
  excalidraw:
    strategy: RollingUpdate
    containers:
      app:
        image:
          repository: ghcr.io/alam00000/bentopdf
          tag: 2.3.1@sha256:865ff640271fa6e2363429cb06dcfaf166c03a84eedd4037e616de7902a6f88c
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
        resources:
          requests:
            cpu: 5m
            memory: 10Mi
          limits:
            memory: 50Mi
service:
  app:
    ports:
      http:
        port: &port 8080
serviceMonitor:
  app:
    endpoints:
      - port: http
route:
  app:
    hostnames: ["pdf.darkflame.dev"]
    parentRefs:
      - name: envoy-external
        namespace: network
        sectionName: https
    rules:
      - backendRefs:
          - identifier: app
            port: *port
        matches:
          - path:
              type: PathPrefix
              value: /
