---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
controllers:
  excalidraw:
    strategy: RollingUpdate
    containers:
      app:
        image:
          repository: ghcr.io/alam00000/bentopdf
          tag: 2.2.0@sha256:4033ab2fb45dfff09b67cc142c36782a38fb970e7fc1da35a83c5d84043c743f
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
        resources:
          requests:
            cpu: 5m
            memory: 10Mi
          limits:
            memory: 50Mi
service:
  app:
    ports:
      http:
        port: &port 8080
serviceMonitor:
  app:
    endpoints:
      - port: http
route:
  app:
    hostnames: ["pdf.darkflame.dev"]
    parentRefs:
      - name: envoy-external
        namespace: network
        sectionName: https
    rules:
      - backendRefs:
          - identifier: app
            port: *port
        matches:
          - path:
              type: PathPrefix
              value: /
