---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
controllers:
  atuin:
    containers:
      app:
        image:
          repository: ghcr.io/szinn/atuin
          tag: v18.6.1-sqlite-5@sha256:192389b6b6da30fbf81c6fee8f978a7262d8683657056cf021983481b41162c5
        env:
          ATUIN_HOST: "0.0.0.0"
          ATUIN_PORT: &port 80
          ATUIN_OPEN_REGISTRATION: "true"
          ATUIN_DB_URI: sqlite:///config/atuin.db
          TZ: Pacific/Auckland
        command: ["atuin", "server", "start"]
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 256Mi
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch
service:
  app:
    ports:
      http:
        port: *port
route:
  app:
    hostnames:
      - sh.darkflame.dev
    parentRefs:
      - name: envoy-internal
        namespace: network
        sectionName: https
persistence:
  config:
    existingClaim: atuin