controllers:
  bar-assistant:
    type: statefulset
    containers:
      api:
        image:
          repository: ghcr.io/karlomikus/barassistant
          tag: 5.13.1@sha256:ea29353c6f6c12d6e64b6db6a46cc4763532b954a2836a7c7f29b7cbcc3802aa
        env:
          APP_URL: &api-url "https://bar.darkflame.dev/bar"
          MEILISEARCH_HOST: http://localhost:7700
          AUTHENTIK_BASE_URL: "https://auth.darkflame.dev/"
          AUTHENTIK_CLIENT_ID:
            valueFrom:
              secretKeyRef:
                name: "bar-assistant-secret"
                key: AUTHENTIK_CLIENT_ID
          AUTHENTIK_CLIENT_SECRET:
            valueFrom:
              secretKeyRef:
                name: "bar-assistant-secret"
                key: AUTHENTIK_CLIENT_SECRET
          AUTHENTIK_REDIRECT_URI: "https://bar.darkflame.dev/oauth/callback"
          MEILISEARCH_KEY:
            valueFrom:
              secretKeyRef:
                name: "bar-assistant-secret"
                key: meili-master-key
          REDIS_HOST: dragonfly.database.svc.cluster.local
          CACHE_DRIVER: redis
          SESSION_DRIVER: redis
          ALLOW_REGISTRATION: false
          ENABLE_PASSWORD_LOGIN: false
      search:
        image:
          repository: docker.io/getmeili/meilisearch
          tag: v1.35.1@sha256:8b57fc3c7f46535ddef3828df1538465ac19d892eb57c9a10da6df0880bd5856
        env:
          MEILI_ENV: production
          MEILI_MASTER_KEY:
            valueFrom:
              secretKeyRef:
                name: "bar-assistant-secret"
                key: meili-master-key
          MEILI_NO_ANALYTICS: true
          MEILI_EXPERIMENTAL_DUMPLESS_UPGRADE: true
  frontend:
    containers:
      salt-rim:
        image:
          repository: ghcr.io/karlomikus/salt-rim
          tag: 4.14.1@sha256:c5d8ab7c0119176361e40907e5162fec0e666244a86294d7d3974e7ad85c332e
        env:
          API_URL: *api-url
          MEILISEARCH_URL: "https://bar.darkflame.dev/search"
service:
  backend:
    controller: bar-assistant
    ports:
      api:
        port: &port 8080
      search:
        port: &search-port 7700
  frontend:
    controller: frontend
    ports:
      http:
        port: *port
route:
  internal:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: envoy-internal
        namespace: network
        sectionName: https
    hostnames:
      - "bar.darkflame.dev"
    rules:
      - matches:
        - path:
            value: "/bar"
        filters:
        - type: URLRewrite
          urlRewrite:
            path:
              type: ReplacePrefixMatch
              replacePrefixMatch: "/"
        backendRefs:
        - name: bar-assistant-backend
          port: *port
      - matches:
        - path:
            value: "/search"
        filters:
        - type: URLRewrite
          urlRewrite:
            path:
              type: ReplacePrefixMatch
              replacePrefixMatch: "/"
        backendRefs:
        - name: bar-assistant-backend
          port: *search-port
      - backendRefs:
        - name: bar-assistant-frontend
          port: *port
persistence:
  data:
    existingClaim: "bar"
    advancedMounts:
      bar-assistant:
        api:
          - path: /var/www/cocktails/storage/bar-assistant
  search:
    suffix: search
    enabled: true
    retain: true
    storageClass: openebs-hostpath
    accessMode: ReadWriteOnce
    size: 1Gi
    advancedMounts:
      bar-assistant:
        search:
          - path: /meili_data
defaultPodOptions:
  securityContext:
    fsGroup: 33
