fullnameOverride: volsync # Required for volsync-perfectra1n fork
image: &image
  repository: ghcr.io/perfectra1n/volsync
  tag: 0.17.6@sha256:b034605316e89c0f9cf55366c70743994972cb7c12abbdb796ebdecb82dbf963
kopia: *image
rclone: *image
restic: *image
rsync: *image
rsync-tls: *image
syncthing: *image
manageCRDs: true
metrics:
  disableAuth: true
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
