fullnameOverride: volsync # Required for volsync-perfectra1n fork
image: &image
  repository: ghcr.io/perfectra1n/volsync
  tag: v0.17.3@sha256:8a72bf1643bd582a16f7493948542264d97144c2962a05d5a8f5dbb3b8e30e84
kopia: *image
rclone: *image
restic: *image
rsync: *image
rsync-tls: *image
syncthing: *image
manageCRDs: true
metrics:
  disableAuth: true
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
