---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./cluster.yaml
  - ./external-secret.yaml
configMapGenerator:
  - name: gatus-configmap
    files:
      - ./config/config.yaml
generatorOptions:
  disableNameSuffixHash: true
