immich:
  metrics:
    enabled: "true"
  persistence:
    library:
      existingClaim: immich
controllers:
  main:
    containers:
      main:
        image:
          # renovate: datasource=github-releases depName=immich-app/immich
          tag: v2.4.1
        env:
          REDIS_HOSTNAME: dragonfly.database.svc.cluster.local
          REDIS_PORT: "6379"
          TZ: "Pacific/Auckland"
          DB_URL:
            valueFrom:
              secretKeyRef:
                name: immich-db-url
                key: url
machine-learning:
  controllers:
    main:
      strategy: Recreate
  persistence:
    cache:
      type: persistentVolumeClaim
      accessMode: ReadWriteOnce
      storageClass: "ceph-block"
    data:
      enabled: true
      existingClaim: immich-nfs
      readOnly: true
server:
  controllers:
    main:
      strategy: Recreate
  probes:
    liveness:
      enabled: true
      custom: true
      spec:
        httpGet:
          path: /ping
          port: http
        initialDelaySeconds: 0
        periodSeconds: 10
        timeoutSeconds: 1
        failureThreshold: 3
    readiness:
      enabled: true
      custom: true
      spec:
        httpGet:
          path: /ping
          port: http
        initialDelaySeconds: 0
        periodSeconds: 10
        timeoutSeconds: 1
        failureThreshold: 3000
    startup:
      enabled: true
      custom: true
      spec:
        httpGet:
          path: /ping
          port: http
        initialDelaySeconds: 0
        periodSeconds: 10
        timeoutSeconds: 1
        failureThreshold: 60
  persistence:
    data:
      enabled: true
      existingClaim: immich-nfs
      readOnly: true
  route:
    main:
      enabled: true
      hostnames: ["photos.darkflame.dev"]
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: immich-server
              port: 2283
      parentRefs:
        - name: envoy-external
          namespace: network
          sectionName: https
valkey:
  enabled: false
