controllers:
  gotosocial:
    type: deployment
    replicas: 1
    containers:
      app:
        image:
          repository: "docker.io/superseriousbusiness/gotosocial"
          tag: "0.20.2"
        env:
          TZ: "Pacific/Auckland"
          GTS_HOST: &host social.darkflame.dev
          GTS_ACCOUNT_DOMAIN: darkflame.dev
          GTS_LANDING_PAGE_USER: "darkflame72"
          GTS_ACCOUNTS_REGISTRATION_OPEN: "false"
          GTS_APPLICATION_NAME: "My corner of the fediverse"
          GTS_PROTOCOL: "https" # not HTTP server listen mode, but used for generating URLs etc
          GTS_PORT: "8080"
          GTS_METRICS_ENABLED: "true"
          GTS_OIDC_ENABLED: "true"
          GTS_OIDC_IDP_NAME: "Authentik"
          GTS_OIDC_SKIP_VERIFICATION: "false"
          GTS_OIDC_ISSUER: https://auth.darkflame.dev/application/o/gotosocial/
          GTS_DB_TYPE: postgres
          GTS_DB_POSTGRES_CONNECTION_STRING:
            valueFrom:
              secretKeyRef:
                name: gotosocial-postgres-app
                key: uri
        envFrom:
          - secretRef:
              name: gotosocial-secret
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
        resources:
          requests:
            cpu: 10m
            memory: 512Mi
          limits:
            memory: 2Gi
service:
  app:
    ports:
      http:
        port: &port 8080
serviceMonitor:
  app:
    endpoints:
      - port: http
route:
  app:
    hostnames:
      - *host
    parentRefs:
      - name: envoy-external
        namespace: network
        sectionName: https
    rules:
      - backendRefs:
          - identifier: app
            port: *port
        matches:
          - path:
              type: PathPrefix
              value: /
persistence:
  storage:
    existingClaim: gotosocial
  tmp:
    type: emptyDir
    medium: Memory
    globalMounts:
      - subPath: tmp
        path: /tmp # ffmpeg WASM stuff
defaultPodOptions:
  automountServiceAccountToken: false
  enableServiceLinks: false
  securityContext:
    runAsNonRoot: false
    runAsUser: &uid 568
    runAsGroup: *uid
    fsGroup: *uid
    fsGroupChangePolicy: Always
    seccompProfile: { type: "RuntimeDefault" }
